@tailwind base;

@tailwind components;

@tailwind utilities;

@import "fonts";


html {
  font-family: 'Work Sans', sans-serif;
  color: white;
  overflow-y:auto ;
}

p {
  font-family: 'Roboto', sans-serif;
}
