<template>

    <section class="bg-white about mt-20 text-black">
      <div class="container mx-auto flex flex-wrap items-center">
        <div class="flex w-full mb-2 amazing uppercase text-xs text-primary">
          I am amazing
        </div>
        <div class="flex w-full about--text">
          <span>Ab</span>out me
        </div>
        <div class="mt-2 font-black  text-3xl lg:text-5xl">
          <div class="">
            I  make people buy your stuff.
          </div>
          <div>
            I make websites.
          </div>
        </div>

          <div class="mt-12 flex flex-wrap flex-col sm:flex-row">
            <div class="sm:w-1/2 w-full">
              <img class="sm:w-5/6 w-full mx-auto" src="@/assets/jerry-removebg-preview.png" alt="">

            </div>
            <div class="sm:w-1/2 w-full">
              <div class="sm:w-5/6 w-full mx-auto">
                <h3 class="font-black mb-2 mt-4 text-3xl lg:text-5xl">Hungry for sites?</h3>
                <div class="text-lg font-normal">I prefer value simple content structure, clean design patterns, and thoughtful interactions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis pellentesque dolor, at vestibulum mauris accumsan quis.
                  Ut tincidunt convallis arcu, vitae ornare erat consectetur nono.
                  <ol class="pl-4 pt-2 list-decimal" >
                    <li v-for="advantage in advantages" v-bind:key="advantage.text">{{advantage.text}}</li>
                  </ol>
                </div>
              </div>

            </div>
          </div>
        </div>
    </section>
</template>

<script>



export default {
  name: 'About',

  //   components: {
  //     Wave
  //   },
  //
  data: () => ({
      advantages: [
          {
              text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, nulla',
          },
          {
              text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
          },
          {
              text: 'Lorem ipsum dolor sit amet, consectetur.',
          },
          {
              text: 'Lorem ipsum dolor sit amet.',
          }
      ]
  })
}
</script>

<style lang="scss">
  .about {
    .amazing{
      font-weight: 1000;
    }
    &--text{
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      color: rgba(0, 0, 0, 0);
      font-size: 4rem;
      line-height: 80px;
      font-weight: 900;
      z-index: 1;
      span {
        border-bottom: 18px solid #EF3340;
      }
      @media (max-width: 480px) {
        font-size: 4rem;
        line-height: 60px;
        span {
          border-bottom: 18px solid #EF3340;
        }
      }


    }
    &__container {
      margin-bottom: 14.3rem;
    }
  }
</style>
