<template>

    <section class="bg-black">
      <div class="container py-32 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex relative flex-col w-full">
          <div class="intro--text"><span>We</span>b Developer</div>
          <div class="absolute text-primary intro--and">
            &
          </div>
          <div class="intro--text sm:pt-2 lg:pt-6 text-right">Freelance</div>


        </div>
<!--        <div class="flex">-->
<!--          <button class="mx-auto lg:mx-0 hover:underline bg-primary text-white font-bold rounded-full my-6 py-4 px-8">Subscribe</button>-->
<!--        </div>-->

      </div>
      <wave />
    </section>
</template>

<script>

  import Wave from '../blocks/wave'

export default {
  name: 'Intro',

    components: {
      Wave
    },

  data: () => ({
    quote: ''
  })
}
</script>

<style lang="scss">
  .intro {
    &--and{
      top: 50%;
      left: 50%;
      font-size: 16rem;
      line-height: 169px;
      font-weight: 1000;
      margin-top: -5rem;
      margin-left: -114px;
      z-index: 0;
      @media (max-width: 900px) {
        line-height: 100px;
        margin-top: 3rem;
      }
      @media (max-width: 480px) {
        font-size: 10rem;
        left: 50%;
        margin-top: 0;
        margin-left: -71px;
      }

    }
    &--text{
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      color: rgba(0, 0, 0, 0);
      font-size: 8rem;
      line-height: 169px;
      font-weight: 1000;
      z-index: 1;
      span {
        border-bottom: 24px solid #EF3340;
      }
      @media (max-width: 480px) {
        font-size: 4rem;
        line-height: 100px;
        span {
          border-bottom: 18px solid #EF3340;
        }
      }


    }
    &__container {
      margin-bottom: 14.3rem;
    }
  }
</style>
