<template>
  <nav class="flex sticky top-0 bg-black">
    <div class="flex container mx-auto justify-between py-6">
        <div class="font-black text-2xl ">Den Tikhonov</div>
        <div class="drawer-toggle" role="button" @click="$store.dispatch('nav/toggleSidebar')">
          <hamburger-button class="w-8 h-8"/>
        </div>

    </div>
  </nav>

</template>


<script>
  import HamburgerButton from "assets/burger.vue";
    export default {
        name: "Navbar",

        components:{
            HamburgerButton
        }
    }
</script>

<style scoped>
  .drawer-toggle .bar {
    width: 2rem;
    height: 2px;
    background-color: white;
  }
  nav{
    z-index: 2;
  }
</style>
