<template>

    <section class="bg-white about my-20">
      <div class="container mx-auto flex flex-wrap items-center">
        <div class="flex w-full mb-2 amazing uppercase text-xs text-primary">
          Are you still thinking?
        </div>
        <div class="flex w-full skills--text">
          <span>Sk</span> ills
        </div>

        </div>

    </section>
</template>

<script>



export default {
  name: 'Skills',

  //   components: {
  //     Wave
  //   },
  //
  // data: () => ({
  //   quote: ''
  // })
}
</script>

<style lang="scss">
  .skills {
    .amazing{
      font-weight: 1000;
    }
    &--text{
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      color: rgba(0, 0, 0, 0);
      font-size: 4rem;
      line-height: 80px;
      font-weight: 900;
      z-index: 1;
      span {
        border-bottom: 18px solid #EF3340;
      }
      @media (max-width: 480px) {
        font-size: 4rem;
        line-height: 60px;
        span {
          border-bottom: 18px solid #EF3340;
        }
      }


    }
    &__container {
      margin-bottom: 14.3rem;
    }
  }
</style>
