<template>
  <section class="bg-black">
    <wave bottom/>

    <div class="container mx-auto">
      <h1 class="w-full py-2 text-5xl font-bold text-white">Footer</h1>
    </div>
  </section>
</template>

<script>
import Wave from "../blocks/wave"

    export default {
        name: "TheFooter",
        components :{
            Wave
        }
    }
</script>

<style scoped>

</style>
