<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.0605 12L23.7803 1.28027C24.0732 0.987305 24.0732 0.512695 23.7803 0.219727C23.4873 -0.0732422 23.0127 -0.0732422 22.7197 0.219727L12 10.9395L1.28027 0.219727C0.987305 -0.0732421 0.512695 -0.0732421 0.219727 0.219727C-0.0732422 0.512696 -0.0732422 0.987305 0.219727 1.28027L10.9395 12L0.219727 22.7197C-0.0732421 23.0127 -0.0732421 23.4873 0.219727 23.7803C0.366211 23.9268 0.557617 24 0.75 24C0.942383 24 1.13379 23.9268 1.28027 23.7803L12 13.0605L22.7197 23.7803C22.8662 23.9268 23.0576 24 23.25 24C23.4424 24 23.6338 23.9268 23.7803 23.7803C24.0732 23.4873 24.0732 23.0127 23.7803 22.7197L13.0605 12Z" fill="currentColor"/>
  </svg>
</template>

