<template>
  <div class="default-layout">
    <navbar />
    <sidebar />
    <nuxt/>
    <the-footer/>
  </div>
</template>
<script>
import Navbar from '../components/sections/Navbar.vue'
import Sidebar from "../components/blocks/Sidebar/Sidebar";
import TheFooter from "../components/sections/TheFooter";

    export default {
      components: {
        Navbar,
        Sidebar,
        TheFooter
      },
    }
</script>
<style lang="scss">

</style>

