<template>
  <div>
    <intro/>
    <about/>
    <skills/>



  </div>


</template>

<script>

import Intro from '~/components/sections/Intro.vue'
import About from "../components/sections/About";
import Skills from "../components/sections/Skills";
import Wave from "../components/blocks/wave";

export default {
  components: {
    Intro,
    About,
    Wave,
    Skills
  }
}
</script>

<style>

</style>

