<template>
      <ul>
        <li class="pb-4"
          v-for="menuItem in menuItems"
            v-bind:key="menuItem.text"
        >
          <a
            class="text-4xl font-thin"
          >
            {{ menuItem.text }}
          </a>
        </li>
      </ul>
</template>

<script>



    export default {
        name: 'AppLinks',

        data: () => ({
            menuItems: [
                {
                    text: 'About Me',
                    link: '/catalog'
                },
                                {
                    text: 'Skills',
                    link: '/'
                },
                {
                    text: 'Projects',
                    link: '/'
                },
                {
                    text: 'Get in touch',
                    link: '/'
                }
            ]
        }),
    }
</script>

<style scoped>

</style>
