
<template>
  <div class="sidenav-container">

    <div v-if="toggleSidebar" class="backdrop" @click="$store.dispatch('nav/toggleSidebar')"></div>

    <transition name="slide-side">
      <div v-if="toggleSidebar" class="sidenav">
        <div class="h-12 w-12 text-white absolute pt-4 pr-4 top-0 right-0" @click="$store.dispatch('nav/toggleSidebar')">
          <close-icon v-if="toggleSidebar"  />
        </div>
        <app-links />
      </div>
    </transition>

  </div>
</template>

<script>
    import AppLinks from '../AppLinks/AppLinks'
    import CloseIcon from 'assets/close.vue'

    export default {
        components: {
            AppLinks,
            CloseIcon
        },
        computed: {
            toggleSidebar() {
                return this.$store.getters['nav/toggleSidebar']
            }
        }
    }
</script>


<style lang="scss" scoped>

  $primary: #EF3340;

  .sidenav-container {
    height: 100%;
    width: 100%;
  }
  .sidenav {
    height: 100%;
    background-color: $primary;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 30px;
    width: 500px;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }
  .slide-side-enter-active,
  .slide-side-leave-active {
    transition: all 0.3s ease-out;
  }
  .slide-side-enter,
  .slide-side-leave-to {
    transform: translateX(100%);
  }
</style>
